@page "/DeleteJob/{Id}"
@using BlazorTaskApp.Data
@inject JobService JobService
@inject NavigationManager NavigationManager

<h2>Delete Job</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">


            Do you really want to delete the following Task?

            <div class="form-group">
                <input form="Name" class="form-control" @bind="@obj.Id" contenteditable="false" />
            </div>


            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@obj.Name" contenteditable="false"/>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@RemoveJob" value="Delete" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    Job obj = new Job();
    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => JobService.GetJobAsync(Convert.ToInt32(Id)));
    }
    protected async void RemoveJob()
    {
        await JobService.DeleteJobAsync(obj);
        NavigationManager.NavigateTo("Jobs");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Jobs");
    }
}